@model IEnumerable<SpongeBob.Models.SpongeBobFriends>

@{
    ViewData["Title"] = "FriendInformation";
}

<h1>Поиск по имени</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Home" asp-action="FriendInformation" method="get">
    <p>
        Search by Name:
        <input type="text" name="searched"/>
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkinCollor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkinCollor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
